docs/dify_workflows/elevator_diagnosis_report_with_waveform_v2.yml
app:
  description: '项目版 Dify 工作流。未上传文件时读取最近一次批诊断状态；上传 CSV 后，Dify 端直接生成 echarts 波形图并输出综合报告。'
  icon: 📊
  icon_background: '#E8F7E8'
  mode: advanced-chat
  name: 电梯故障诊断-项目版
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.0.26@4f1c4ded3d189719b7dd54e9d4e5b26f724f3632f3dfaa299491b42accc112c8
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: 后端基础地址
    id: 4d27d8a6-68c8-4f40-80b0-982d1cc8fe2a
    name: ip
    selector:
    - env
    - ip
    value: http://192.168.5.132:8085
    value_type: string
  - description: 报告默认站点名
    id: 0bcc5488-3d4d-4a4d-a2bb-0d0a675ed00f
    name: site_name
    selector:
    - env
    - site_name
    value: unknown-site
    value_type: string
  - description: 最新状态文件路径
    id: 8c49dc71-11f0-4bc7-b6ea-f7cbec40fe0b
    name: latest_json
    selector:
    - env
    - latest_json
    value: data/diagnosis/latest_status.json
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .CSV
      - .csv
      - .TXT
      - .txt
      allowed_file_types:
      - document
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 3
        file_size_limit: 15
        image_file_batch_limit: 3
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 3
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 不上传文件时可直接查询最近一次批诊断状态；上传电梯振动 CSV 后，会自动执行规则诊断、绘制波形图并输出综合报告。
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: start-source-file-branch-target
      source: start
      sourceHandle: source
      target: file_branch
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: file-branch-true-status-http-target
      source: file_branch
      sourceHandle: 'true'
      target: status_http
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: document-extractor
      id: file-branch-false-doc-extract-target
      source: file_branch
      sourceHandle: 'false'
      target: doc_extract
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: document-extractor
        targetType: code
      id: doc-extract-source-prepare-csv-target
      source: doc_extract
      sourceHandle: source
      target: prepare_csv
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: prepare-csv-source-diagnosis-http-target
      source: prepare_csv
      sourceHandle: source
      target: diagnosis_http
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: prepare-csv-source-maintenance-http-target
      source: prepare_csv
      sourceHandle: source
      target: maintenance_http
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: prepare-csv-source-waveform-code-target
      source: prepare_csv
      sourceHandle: source
      target: waveform_code
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: diagnosis-http-source-diagnosis-parse-target
      source: diagnosis_http
      sourceHandle: source
      target: diagnosis_parse
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: maintenance-http-source-maintenance-parse-target
      source: maintenance_http
      sourceHandle: source
      target: maintenance_parse
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: diagnosis-parse-source-report-body-target
      source: diagnosis_parse
      sourceHandle: source
      target: report_body
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: maintenance-parse-source-report-body-target
      source: maintenance_parse
      sourceHandle: source
      target: report_body
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: report-body-source-report-http-target
      source: report_body
      sourceHandle: source
      target: report_http
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: report-http-source-report-parse-target
      source: report_http
      sourceHandle: source
      target: report_parse
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: report-parse-source-report-llm-target
      source: report_parse
      sourceHandle: source
      target: report_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: waveform-code-source-report-llm-target
      source: waveform_code
      sourceHandle: source
      target: report_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: report-llm-source-report-answer-target
      source: report_llm
      sourceHandle: source
      target: report_answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: status-http-source-status-parse-target
      source: status_http
      sourceHandle: source
      target: status_parse
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: status-parse-source-status-llm-target
      source: status_parse
      sourceHandle: source
      target: status_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: status-llm-source-status-answer-target
      source: status_llm
      sourceHandle: source
      target: status_answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 73
      id: start
      position:
        x: 30
        y: 250
      positionAbsolute:
        x: 30
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: b72f4e2d-3e54-4eb5-b425-193a6617fa62
            value: ''
            varType: array[file]
            variable_selector:
            - sys
            - files
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: 是否上传CSV
        type: if-else
      height: 124
      id: file_branch
      position:
        x: 336
        y: 195
      positionAbsolute:
        x: 336
        y: 195
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: raw-text
        desc: ''
        headers: Accept:application/json
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 读取最新状态
        type: http-request
        url: '{{#env.ip#}}/api/v1/diagnostics/latest-status?latest_json={{#env.latest_json#}}'
        variables: []
      height: 125
      id: status_http
      position:
        x: 677
        y: 24
      positionAbsolute:
        x: 677
        y: 24
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json
          
          
          def _as_dict(value):
              return value if isinstance(value, dict) else {}
          
          
          def main(body):
              text = str(body or "").strip()
              try:
                  payload = json.loads(text) if text else {}
              except Exception:
                  payload = {"status": "unknown", "detail": "latest status payload is not valid json"}
          
              payload = _as_dict(payload)
              status = str(payload.get("status", "unknown"))
              risk = _as_dict(payload.get("risk"))
              preferred = _as_dict(payload.get("preferred_issue"))
              top_candidate = _as_dict(payload.get("top_candidate"))
              latest_file = str(payload.get("latest_file_name") or payload.get("latest_file") or "")
              fault_type = str(preferred.get("fault_type") or top_candidate.get("fault_type") or "none")
              fault_score = preferred.get("score", top_candidate.get("score", 0))
              risk_now = str(risk.get("risk_level_now", "unknown"))
              risk_24h = str(risk.get("risk_level_24h", "unknown"))
              summary = (
                  f"状态={status}; 候选故障={fault_type}; 分数={fault_score}; "
                  f"当前风险={risk_now}; 24h风险={risk_24h}; 最新文件={latest_file}"
              )
              return {
                  "status_json": json.dumps(payload, ensure_ascii=False),
                  "status_summary": summary,
              }
        code_language: python3
        desc: ''
        outputs:
          status_json:
            children: null
            type: string
          status_summary:
            children: null
            type: string
        selected: false
        title: 解析最新状态
        type: code
        variables:
        - value_selector:
          - status_http
          - body
          value_type: string
          variable: body
      height: 52
      id: status_parse
      position:
        x: 1038
        y: 24
      positionAbsolute:
        x: 1038
        y: 24
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - status_parse
          - status_json
        desc: ''
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: qwen-plus-latest
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 6bc4515a-764e-42d2-bf70-6c1a26e71179
          role: system
          text: |
            你是电梯在线状态回复助手。你只能依据下面这份“最近一次定时批诊断结果”回答，不能编造不存在的故障、风险或历史。
            
            站点名：{{#env.site_name#}}
            用户问题：{{#sys.query#}}
            最新状态摘要：{{#status_parse.status_summary#}}
            最新状态 JSON：
            {{#status_parse.status_json#}}
            
            输出要求：
            1. 先直接回答用户问题。
            2. 然后固定输出四行：
               当前状态：
               最新候选故障：
               当前风险：
               建议动作：
            3. 如果状态是 normal，明确写“当前未见明确异常证据”。
            4. 如果状态是 watch_only，明确写“存在可疑特征，建议继续观察或尽快复测”。
            5. 如果状态是 candidate_faults，明确写“出现高置信候选，建议安排现场复核”。
            6. 用自然中文，不要输出 JSON，不要夸大结论。
        selected: false
        title: 在线状态回答
        type: llm
        variables: []
        vision:
          enabled: false
      height: 94
      id: status_llm
      position:
        x: 1403
        y: 24
      positionAbsolute:
        x: 1403
        y: 24
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: |
          # {{#env.site_name#}} 在线状态
          
          {{#status_llm.text#}}
        desc: ''
        selected: false
        title: 在线状态输出
        type: answer
        variables: []
      height: 129
      id: status_answer
      position:
        x: 1745
        y: 24
      positionAbsolute:
        x: 1745
        y: 24
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        is_array_file: true
        selected: false
        title: 文档提取器
        type: document-extractor
        variable_selector:
        - sys
        - files
      height: 104
      id: doc_extract
      position:
        x: 677
        y: 250
      positionAbsolute:
        x: 677
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import csv
          import io
          import json
          
          
          def _pick_text(value):
              if isinstance(value, list):
                  for item in value:
                      text = str(item).strip()
                      if text:
                          return text
                  return ""
              return str(value or "").strip()
          
          
          def _from_markdown_table(text):
              lines = [line.rstrip() for line in text.splitlines() if line.strip()]
              if len(lines) < 2:
                  return ""
              if "|" not in lines[0] or "---" not in lines[1]:
                  return ""
          
              def split_row(line):
                  return [part.strip() for part in line.strip().strip("|").split("|")]
          
              headers = split_row(lines[0])
              if not headers:
                  return ""
          
              rows = []
              for line in lines[2:]:
                  if "|" not in line:
                      continue
                  parts = split_row(line)
                  if len(parts) < len(headers):
                      parts.extend([""] * (len(headers) - len(parts)))
                  rows.append(parts[: len(headers)])
          
              if not rows:
                  return ""
          
              buffer = io.StringIO()
              writer = csv.writer(buffer)
              writer.writerow(headers)
              writer.writerows(rows)
              return buffer.getvalue()
          
          
          def _normalize_csv_like(text):
              sample = text[:2048]
              try:
                  dialect = csv.Sniffer().sniff(sample, delimiters=",;\t")
              except Exception:
                  dialect = csv.excel
          
              rows = []
              reader = csv.reader(io.StringIO(text), dialect)
              for row in reader:
                  if any(str(cell).strip() for cell in row):
                      rows.append([str(cell).strip() for cell in row])
          
              if len(rows) < 2:
                  return text
          
              width = max(len(row) for row in rows)
              buffer = io.StringIO()
              writer = csv.writer(buffer)
              for row in rows:
                  writer.writerow(row + [""] * (width - len(row)))
              return buffer.getvalue()
          
          
          def main(extracted_text, site_name):
              raw_text = _pick_text(extracted_text)
              csv_text = _from_markdown_table(raw_text) or _normalize_csv_like(raw_text)
              diagnosis_body = json.dumps(
                  {"csv_text": csv_text, "rows": []},
                  ensure_ascii=False,
              )
              maintenance_body = json.dumps(
                  {"site_name": site_name or "unknown-site"},
                  ensure_ascii=False,
              )
              return {
                  "csv_text": csv_text,
                  "diagnosis_body": diagnosis_body,
                  "maintenance_body": maintenance_body,
              }
        code_language: python3
        desc: ''
        outputs:
          csv_text:
            children: null
            type: string
          diagnosis_body:
            children: null
            type: string
          maintenance_body:
            children: null
            type: string
        selected: false
        title: 准备CSV与请求体
        type: code
        variables:
        - value_selector:
          - doc_extract
          - text
          value_type: array[string]
          variable: extracted_text
        - value_selector:
          - env
          - site_name
          value_type: string
          variable: site_name
      height: 52
      id: prepare_csv
      position:
        x: 1038
        y: 250
      positionAbsolute:
        x: 1038
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: '{{#prepare_csv.diagnosis_body#}}'
          type: raw-text
        desc: ''
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 规则诊断
        type: http-request
        url: '{{#env.ip#}}/api/v1/diagnostics/rule-engine'
        variables: []
      height: 125
      id: diagnosis_http
      position:
        x: 1403
        y: 98
      positionAbsolute:
        x: 1403
        y: 98
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: '{{#prepare_csv.maintenance_body#}}'
          type: raw-text
        desc: ''
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 维保包
        type: http-request
        url: '{{#env.ip#}}/api/v1/workflows/maintenance-package'
        variables: []
      height: 125
      id: maintenance_http
      position:
        x: 1403
        y: 402
      positionAbsolute:
        x: 1403
        y: 402
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import csv
          import io
          import json
          import math
          
          
          def _safe_float(value, default=0.0):
              try:
                  return float(value)
              except Exception:
                  return default
          
          
          def _safe_int(value):
              try:
                  return int(float(value))
              except Exception:
                  return None
          
          
          def _rows_from_csv(text):
              raw = str(text or "").strip()
              if not raw:
                  return []
              return [dict(row) for row in csv.DictReader(io.StringIO(raw))]
          
          
          def _pick_effective_rows(rows, min_real_rows=8):
              flagged = []
              has_flag = False
              for row in rows:
                  flag = _safe_int(row.get("is_new_frame"))
                  if flag is None:
                      continue
                  has_flag = True
                  if flag == 1:
                      flagged.append(row)
              if has_flag and len(flagged) >= min_real_rows:
                  return flagged, True
              return rows, False
          
          
          def _pick(row, *names):
              for name in names:
                  if name in row and str(row.get(name)).strip() != "":
                      return row.get(name)
              return ""
          
          
          def _extract_series(rows, *names):
              return [_safe_float(_pick(row, *names), 0.0) for row in rows]
          
          
          def _extract_ts(rows):
              xs = []
              for idx, row in enumerate(rows):
                  value = _safe_int(_pick(row, "ts_ms", "data_ts_ms"))
                  xs.append(idx if value is None else value)
              return xs
          
          
          def _downsample(xs, series_list, max_points=180):
              if len(xs) <= max_points:
                  return xs, series_list
              idxs = [round(i * (len(xs) - 1) / max(1, max_points - 1)) for i in range(max_points)]
              return [xs[i] for i in idxs], [[series[i] for i in idxs] for series in series_list]
          
          
          def _option(title, xs, series_defs):
              x0 = xs[0] if xs else 0
              x_data = [round((value - x0) / 1000.0, 3) for value in xs]
              option = {
                  "title": {"text": title, "left": "center"},
                  "tooltip": {"trigger": "axis"},
                  "legend": {"top": 28, "data": [item["name"] for item in series_defs]},
                  "grid": {"left": 48, "right": 24, "top": 72, "bottom": 36},
                  "xAxis": {
                      "type": "category",
                      "name": "Time (s)",
                      "boundaryGap": False,
                      "data": x_data,
                  },
                  "yAxis": {
                      "type": "value",
                      "scale": True,
                  },
                  "series": [],
              }
              for item in series_defs:
                  option["series"].append(
                      {
                          "name": item["name"],
                          "type": "line",
                          "showSymbol": False,
                          "smooth": False,
                          "lineStyle": {"width": 2, "color": item["color"]},
                          "itemStyle": {"color": item["color"]},
                          "data": [round(float(v), 6) for v in item["data"]],
                      }
                  )
              return json.dumps(option, ensure_ascii=False)
          
          
          def main(csv_text):
              rows = _rows_from_csv(csv_text)
              rows, used_new_only = _pick_effective_rows(rows)
              ts = _extract_ts(rows)
              ax = _extract_series(rows, "Ax", "AX")
              ay = _extract_series(rows, "Ay", "AY")
              az = _extract_series(rows, "Az", "AZ")
              gx = _extract_series(rows, "Gx", "GX")
              gy = _extract_series(rows, "Gy", "GY")
              gz = _extract_series(rows, "Gz", "GZ")
              amag = [math.sqrt(ax[i] * ax[i] + ay[i] * ay[i] + az[i] * az[i]) for i in range(len(ax))]
          
              ts_acc, [ax, ay, az] = _downsample(ts, [ax, ay, az])
              ts_gyr, [gx, gy, gz] = _downsample(ts, [gx, gy, gz])
              ts_mag, [amag] = _downsample(ts, [amag])
          
              acc_chart = _option(
                  "加速度三轴波形",
                  ts_acc,
                  [
                      {"name": "Ax", "color": "#1F77B4", "data": ax},
                      {"name": "Ay", "color": "#FF7F0E", "data": ay},
                      {"name": "Az", "color": "#2CA02C", "data": az},
                  ],
              )
              gyro_chart = _option(
                  "角速度三轴波形",
                  ts_gyr,
                  [
                      {"name": "Gx", "color": "#9467BD", "data": gx},
                      {"name": "Gy", "color": "#D62728", "data": gy},
                      {"name": "Gz", "color": "#8C564B", "data": gz},
                  ],
              )
              mag_chart = _option(
                  "加速度合成幅值波形",
                  ts_mag,
                  [
                      {"name": "A_mag", "color": "#17BECF", "data": amag},
                  ],
              )
              summary = (
                  f"本次用于绘图的有效数据点共 {len(rows)} 个，"
                  f"{'已优先使用 is_new_frame=1 的真实采样点。' if used_new_only else '未检测到足够多的真实采样标记，直接使用原始记录绘图。'}"
              )
              return {
                  "acc_chart": acc_chart,
                  "gyro_chart": gyro_chart,
                  "mag_chart": mag_chart,
                  "waveform_summary": summary,
              }
        code_language: python3
        desc: ''
        outputs:
          acc_chart:
            children: null
            type: string
          gyro_chart:
            children: null
            type: string
          mag_chart:
            children: null
            type: string
          waveform_summary:
            children: null
            type: string
        selected: false
        title: Dify波形绘图
        type: code
        variables:
        - value_selector:
          - prepare_csv
          - csv_text
          value_type: string
          variable: csv_text
      height: 52
      id: waveform_code
      position:
        x: 1403
        y: 250
      positionAbsolute:
        x: 1403
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json
          
          
          def main(body):
              text = str(body or "").strip()
              try:
                  payload = json.loads(text) if text else {}
              except Exception:
                  payload = {}
              screening = payload.get("screening", {}) if isinstance(payload, dict) else {}
              status = str(screening.get("status", "unknown"))
              top_candidate = payload.get("top_candidate", {}) if isinstance(payload, dict) else {}
              if isinstance(top_candidate, dict) and top_candidate.get("fault_type"):
                  summary = f"筛查状态：{status}；高置信候选：{top_candidate.get('fault_type')}；分数：{top_candidate.get('score', 0)}。"
              else:
                  summary = f"筛查状态：{status}。"
              return {
                  "diagnosis_json": json.dumps(payload, ensure_ascii=False),
                  "diagnosis_summary": summary,
              }
        code_language: python3
        desc: ''
        outputs:
          diagnosis_json:
            children: null
            type: string
          diagnosis_summary:
            children: null
            type: string
        selected: false
        title: 解析诊断结果
        type: code
        variables:
        - value_selector:
          - diagnosis_http
          - body
          value_type: string
          variable: body
      height: 52
      id: diagnosis_parse
      position:
        x: 1745
        y: 98
      positionAbsolute:
        x: 1745
        y: 98
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json
          
          
          def main(body):
              text = str(body or "").strip()
              try:
                  payload = json.loads(text) if text else {}
              except Exception:
                  payload = {}
              return {
                  "maintenance_json": json.dumps(payload, ensure_ascii=False),
                  "maintenance_summary": str(payload.get("summary", "")),
              }
        code_language: python3
        desc: ''
        outputs:
          maintenance_json:
            children: null
            type: string
          maintenance_summary:
            children: null
            type: string
        selected: false
        title: 解析维保包
        type: code
        variables:
        - value_selector:
          - maintenance_http
          - body
          value_type: string
          variable: body
      height: 52
      id: maintenance_parse
      position:
        x: 1745
        y: 402
      positionAbsolute:
        x: 1745
        y: 402
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json
          
          
          def _loads(text):
              raw = str(text or "").strip()
              if not raw:
                  return {}
              try:
                  return json.loads(raw)
              except Exception:
                  return {}
          
          
          def main(site_name, csv_text, diagnosis_json, maintenance_json):
              payload = {
                  "site_name": site_name or "unknown-site",
                  "csv_text": csv_text or "",
                  "diagnosis_result": _loads(diagnosis_json),
                  "maintenance_package": _loads(maintenance_json),
                  "include_waveforms": False,
                  "language": "zh-CN",
                  "report_style": "standard",
              }
              return {
                  "report_body": json.dumps(payload, ensure_ascii=False),
              }
        code_language: python3
        desc: ''
        outputs:
          report_body:
            children: null
            type: string
        selected: false
        title: 准备综合报告请求体
        type: code
        variables:
        - value_selector:
          - env
          - site_name
          value_type: string
          variable: site_name
        - value_selector:
          - prepare_csv
          - csv_text
          value_type: string
          variable: csv_text
        - value_selector:
          - diagnosis_parse
          - diagnosis_json
          value_type: string
          variable: diagnosis_json
        - value_selector:
          - maintenance_parse
          - maintenance_json
          value_type: string
          variable: maintenance_json
      height: 52
      id: report_body
      position:
        x: 2111
        y: 250
      positionAbsolute:
        x: 2111
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: '{{#report_body.report_body#}}'
          type: raw-text
        desc: ''
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 综合报告上下文
        type: http-request
        url: '{{#env.ip#}}/api/v1/workflows/diagnosis-report'
        variables: []
      height: 125
      id: report_http
      position:
        x: 2470
        y: 250
      positionAbsolute:
        x: 2470
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json
          
          
          def main(body):
              text = str(body or "").strip()
              try:
                  payload = json.loads(text) if text else {}
              except Exception:
                  payload = {}
              dify_prompt = str(payload.get("dify_prompt_template", "")).strip()
              dify_inputs = payload.get("dify_report_inputs", {})
              return {
                  "report_title": str(payload.get("report_title", "电梯故障诊断报告")),
                  "report_markdown": str(payload.get("report_markdown_draft", "")).strip(),
                  "dify_prompt_template": dify_prompt,
                  "dify_inputs_json": json.dumps(dify_inputs, ensure_ascii=False, indent=2) if isinstance(dify_inputs, dict) else "{}",
              }
        code_language: python3
        desc: ''
        outputs:
          report_title:
            children: null
            type: string
          report_markdown:
            children: null
            type: string
          dify_prompt_template:
            children: null
            type: string
          dify_inputs_json:
            children: null
            type: string
        selected: false
        title: 解析综合报告上下文
        type: code
        variables:
        - value_selector:
          - report_http
          - body
          value_type: string
          variable: body
      height: 52
      id: report_parse
      position:
        x: 2817
        y: 250
      positionAbsolute:
        x: 2817
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - report_parse
          - dify_inputs_json
        desc: ''
        model:
          completion_params:
            temperature: 0.4
          mode: chat
          name: qwen-plus-latest
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 86f1aaf2-7f56-49d7-8881-8f78ff50f0df
          role: system
          text: |
            {{#report_parse.dify_prompt_template#}}
            
            下面是后端已经整理好的报告输入，请在此基础上做最终输出润色：
            {{#report_parse.dify_inputs_json#}}
            
            下面是后端草稿，可作为参考，但不要机械照抄：
            {{#report_parse.report_markdown#}}
            
            下面是波形图数据摘要：
            {{#waveform_code.waveform_summary#}}
            
            输出要求：
            1. 面向普通人，优先说“看到了什么、代表什么、要不要处理”。
            2. 结构固定为：
               ## 1. 一句话结论
               ## 2. 给非专业人员的解释
               ## 3. 建议怎么做
               ## 4. 本次判断依据
               ## 5. 给维保人员的补充参考
            3. 不要重复一级标题，答案节点会单独拼接标题。
            4. 不要输出 JSON，不要生成波形图代码块，答案节点会自动拼接。
            5. 尽量使用自然中文，不要过多直接暴露英文技术字段名。
        selected: false
        title: LLM综合润色
        type: llm
        variables: []
        vision:
          enabled: false
      height: 94
      id: report_llm
      position:
        x: 3156
        y: 250
      positionAbsolute:
        x: 3156
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: |
          # {{#report_parse.report_title#}}
          
          {{#report_llm.text#}}
          
          ## 波形图
          
          {{#waveform_code.waveform_summary#}}
          
          ### 加速度三轴
          ```echarts
          {{#waveform_code.acc_chart#}}
          ```
          
          ### 角速度三轴
          ```echarts
          {{#waveform_code.gyro_chart#}}
          ```
          
          ### 加速度合成幅值
          ```echarts
          {{#waveform_code.mag_chart#}}
          ```
        desc: ''
        selected: false
        title: 综合报告输出
        type: answer
        variables: []
      height: 220
      id: report_answer
      position:
        x: 3506
        y: 250
      positionAbsolute:
        x: 3506
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -280.0
      y: 52.0
      zoom: 0.5
  rag_pipeline_variables: []
