docs/dify_workflows/elevator_diagnosis_report_with_waveform_v2.yml
app:
  description: 项目版 Dify 工作流。未上传文件时读取最近一次批诊断状态；上传 CSV 后，Dify 端直接生成 echarts 波形图并输出综合报告。
  icon: 🤖
  icon_background: '#E8F7E8'
  mode: advanced-chat
  name: 电梯故障诊断-项目版
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/gpustack:0.0.8@8fe1abce0914a80dab12caa46da58a5378ae2d214087d65340cbc4111ed669c5
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: 后端基础地址
    id: 4d27d8a6-68c8-4f40-80b0-982d1cc8fe2a
    name: ip
    selector:
    - env
    - ip
    value: http://192.168.5.10:8085
    value_type: string
  - description: 报告默认站点名
    id: 0bcc5488-3d4d-4a4d-a2bb-0d0a675ed00f
    name: site_name
    selector:
    - env
    - site_name
    value: 测试梯
    value_type: string
  - description: 最新状态文件路径
    id: 8c49dc71-11f0-4bc7-b6ea-f7cbec40fe0b
    name: latest_json
    selector:
    - env
    - latest_json
    value: data/diagnosis/latest_status.json
    value_type: string
  - description: 多电梯最新状态根目录
    id: c1e2bb03-2a18-4a7c-b6d8-7b60788fb101
    name: latest_root
    selector:
    - env
    - latest_root
    value: data/diagnosis
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .CSV
      - .csv
      - .TXT
      - .txt
      allowed_file_types:
      - document
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: true
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 不上传文件时可直接查询最近一次批诊断状态；可在问题里写“查看 002 号梯状态”。上传电梯振动 CSV 后，可只传文件、不输入文字，系统会自动执行规则诊断、绘制全频/低频频谱图与三轴波形，并输出综合报告。
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 近期电梯情况
    - 查看 002 号梯状态
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: start-source-file-branch-target
      source: start
      sourceHandle: source
      target: file_branch
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: file-branch-true-status-target-target
      source: file_branch
      sourceHandle: 'true'
      target: status_target
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: status-target-source-status-http-target
      source: status_target
      sourceHandle: source
      target: status_http
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: document-extractor
      id: file-branch-false-doc-extract-target
      source: file_branch
      sourceHandle: 'false'
      target: doc_extract
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: document-extractor
        targetType: code
      id: doc-extract-source-prepare-csv-target
      source: doc_extract
      sourceHandle: source
      target: prepare_csv
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: prepare-csv-source-diagnosis-http-target
      source: prepare_csv
      sourceHandle: source
      target: diagnosis_http
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: prepare-csv-source-maintenance-http-target
      source: prepare_csv
      sourceHandle: source
      target: maintenance_http
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: prepare-csv-source-waveform-code-target
      source: prepare_csv
      sourceHandle: source
      target: waveform_code
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: diagnosis-http-source-diagnosis-parse-target
      source: diagnosis_http
      sourceHandle: source
      target: diagnosis_parse
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: maintenance-http-source-maintenance-parse-target
      source: maintenance_http
      sourceHandle: source
      target: maintenance_parse
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: diagnosis-parse-source-report-body-target
      source: diagnosis_parse
      sourceHandle: source
      target: report_body
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: maintenance-parse-source-report-body-target
      source: maintenance_parse
      sourceHandle: source
      target: report_body
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: report-body-source-report-http-target
      source: report_body
      sourceHandle: source
      target: report_http
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: report-http-source-report-parse-target
      source: report_http
      sourceHandle: source
      target: report_parse
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: report-parse-source-report-llm-target
      source: report_parse
      sourceHandle: source
      target: report_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: waveform-code-source-report-llm-target
      source: waveform_code
      sourceHandle: source
      target: report_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: report-llm-source-report-answer-target
      source: report_llm
      sourceHandle: source
      target: report_answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: status-http-source-status-parse-target
      source: status_http
      sourceHandle: source
      target: status_parse
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: status-parse-source-status-llm-target
      source: status_parse
      sourceHandle: source
      target: status_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: status-llm-source-status-answer-target
      source: status_llm
      sourceHandle: source
      target: status_answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 73
      id: start
      position:
        x: 30
        y: 250
      positionAbsolute:
        x: 30
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: b72f4e2d-3e54-4eb5-b425-193a6617fa62
            value: ''
            varType: array[file]
            variable_selector:
            - sys
            - files
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: 是否上传CSV
        type: if-else
      height: 124
      id: file_branch
      position:
        x: 336
        y: 195
      positionAbsolute:
        x: 336
        y: 195
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\n\n\ndef _pick_elevator_id(text):\n    query = str(text or\
          \ \"\").strip()\n    if not query:\n        return \"\"\n    patterns =\
          \ [\n        r\"elevator[_-]?(\\d{1,4})\",\n        r\"(\\d{1,4})\\s*号梯\"\
          ,\n        r\"电梯\\s*(\\d{1,4})\",\n        r\"梯\\s*(\\d{1,4})\",\n    ]\n\
          \    for pattern in patterns:\n        match = re.search(pattern, query,\
          \ flags=re.IGNORECASE)\n        if match:\n            return match.group(1).zfill(3)\n\
          \    return \"\"\n\n\ndef main(query):\n    elevator_id = _pick_elevator_id(query)\n\
          \    target_text = f\"elevator_{elevator_id}\" if elevator_id else \"default\"\
          \n    return {\n        \"elevator_id\": elevator_id,\n        \"target_text\"\
          : target_text,\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          elevator_id:
            children: null
            type: string
          target_text:
            children: null
            type: string
        selected: false
        title: 解析目标电梯
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
      height: 52
      id: status_target
      position:
        x: 508
        y: 24
      positionAbsolute:
        x: 508
        y: 24
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - type: text
            value: ''
          type: raw-text
        desc: ''
        headers: Accept:application/json
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 读取最新状态
        type: http-request
        url: '{{#env.ip#}}/api/v1/diagnostics/latest-status?latest_json={{#env.latest_json#}}&latest_root={{#env.latest_root#}}&elevator_id={{#status_target.elevator_id#}}&include_waveforms=true'
        variables: []
      height: 161
      id: status_http
      position:
        x: 677
        y: 24
      positionAbsolute:
        x: 677
        y: 24
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import html\nimport json\nfrom datetime import datetime\n\n\ndef _as_dict(value):\n\
          \    return value if isinstance(value, dict) else {}\n\n\ndef _format_detected_at(value):\n\
          \    try:\n        ts_ms = int(float(value))\n    except (TypeError, ValueError):\n\
          \        return \"未提供\"\n    if ts_ms <= 0:\n        return \"未提供\"\n  \
          \  return datetime.fromtimestamp(ts_ms / 1000.0).strftime(\"%Y-%m-%d %H:%M:%S\"\
          )\n\n\ndef _option_json(payload, key):\n    echarts = _as_dict(payload.get(\"\
          echarts\"))\n    item = _as_dict(echarts.get(key))\n    return str(item.get(\"\
          option_json\") or \"\").strip()\n\n\ndef _fault_text(primary, preferred,\
          \ candidate):\n    fault_type = str(primary.get(\"fault_type\") or preferred.get(\"\
          fault_type\") or candidate.get(\"fault_type\") or \"none\")\n    if fault_type\
          \ == \"rope_tension_abnormal\":\n        return \"钢丝绳状态异常\"\n    if fault_type\
          \ == \"rope_looseness\":\n        return \"钢丝绳松动或张力不均\"\n    if fault_type\
          \ == \"rubber_hardening\":\n        return \"橡胶圈硬化\"\n    if fault_type\
          \ == \"unknown\":\n        return \"异常类型待确认\"\n    return fault_type\n\n\
          \ndef _display_conclusion(status, fault_text):\n    if status == \"normal\"\
          :\n        return \"当前未见明确异常证据\"\n    if status == \"watch_only\" and fault_text\
          \ == \"异常类型待确认\":\n        return \"已检测到异常，但类型待确认\"\n    return fault_text\n\
          \n\ndef _extract_markdown_tables(text):\n    lines = str(text or \"\").splitlines()\n\
          \    tables = []\n    current = []\n    for line in lines:\n        stripped\
          \ = line.rstrip()\n        if \"|\" in stripped and stripped.strip().startswith(\"\
          |\"):\n            current.append(stripped)\n            continue\n    \
          \    if current:\n            if len(current) >= 2 and \"---\" in current[1]:\n\
          \                tables.append(current)\n            current = []\n    if\
          \ current and len(current) >= 2 and \"---\" in current[1]:\n        tables.append(current)\n\
          \    return tables\n\n\ndef _table_block_to_html(lines):\n    def split_row(line):\n\
          \        return [part.strip() for part in line.strip().strip(\"|\").split(\"\
          |\")]\n\n    headers = split_row(lines[0])\n    body_lines = lines[2:]\n\
          \    rows = []\n    for line in body_lines:\n        if \"|\" not in line:\n\
          \            continue\n        parts = split_row(line)\n        if len(parts)\
          \ < len(headers):\n            parts.extend([\"\"] * (len(headers) - len(parts)))\n\
          \        rows.append(parts[: len(headers)])\n    if not headers or not rows:\n\
          \        return \"\"\n\n    parts = [\"<table>\", \"<thead><tr>\"]\n   \
          \ for head in headers:\n        parts.append(f\"<th>{html.escape(head)}</th>\"\
          )\n    parts.append(\"</tr></thead><tbody>\")\n    for row in rows:\n  \
          \      parts.append(\"<tr>\")\n        for cell in row:\n            parts.append(f\"\
          <td>{html.escape(cell)}</td>\")\n        parts.append(\"</tr>\")\n    parts.append(\"\
          </tbody></table>\")\n    return \"\".join(parts)\n\n\ndef _tables_to_html(text):\n\
          \    blocks = _extract_markdown_tables(text)\n    html_tables = [_table_block_to_html(block)\
          \ for block in blocks]\n    html_tables = [item for item in html_tables\
          \ if item]\n    if not html_tables:\n        return \"\"\n    return \"\\\
          n\\n\".join(html_tables)\n\n\ndef _table_block_to_text(lines):\n    def\
          \ split_row(line):\n        return [part.strip() for part in line.strip().strip(\"\
          |\").split(\"|\")]\n\n    headers = split_row(lines[0])\n    body_lines\
          \ = lines[2:]\n    rows = []\n    for line in body_lines:\n        if \"\
          |\" not in line:\n            continue\n        parts = split_row(line)\n\
          \        if len(parts) < len(headers):\n            parts.extend([\"\"]\
          \ * (len(headers) - len(parts)))\n        rows.append(parts[: len(headers)])\n\
          \    if not headers or not rows:\n        return \"\"\n\n    widths = [len(head)\
          \ for head in headers]\n    for row in rows:\n        for idx, cell in enumerate(row):\n\
          \            widths[idx] = max(widths[idx], len(cell))\n\n    def fmt_row(row):\n\
          \        return \" | \".join(cell.ljust(widths[idx]) for idx, cell in enumerate(row))\n\
          \n    parts = [fmt_row(headers), \"-+-\".join(\"-\" * width for width in\
          \ widths)]\n    parts.extend(fmt_row(row) for row in rows)\n    return \"\
          \\n\".join(parts)\n\n\ndef _tables_to_text(text):\n    blocks = _extract_markdown_tables(text)\n\
          \    rendered = []\n    for idx, block in enumerate(blocks, start=1):\n\
          \        table_text = _table_block_to_text(block)\n        if table_text:\n\
          \            rendered.append(f\"[表{idx}]\\n{table_text}\")\n    return \"\
          \\n\\n\".join(rendered)\n\n\ndef _trim_report_for_llm(text, max_chars=12000):\n\
          \    raw = str(text or \"\").strip()\n    if not raw:\n        return \"\
          \"\n    for marker in (\"\\n## 波形图\", \"\\n## 怎么读这些图\"):\n        if marker\
          \ in raw:\n            raw = raw.split(marker, 1)[0].strip()\n    if len(raw)\
          \ <= max_chars:\n        return raw\n    return raw[:max_chars].rstrip()\
          \ + \"\\n\\n[后续内容已截断]\"\n\n\ndef _compact_latest_payload(payload):\n   \
          \ keep_keys = [\n        \"workflow_type\",\n        \"generated_at_ms\"\
          ,\n        \"status\",\n        \"baseline\",\n        \"primary_issue\"\
          ,\n        \"preferred_issue\",\n        \"rope_primary\",\n        \"rubber_primary\",\n        \"top_candidate\",\n        \"\
          watch_faults\",\n        \"auxiliary_results\",\n        \"risk\",\n   \
          \     \"recommendation\",\n        \"latest_file\",\n        \"latest_file_name\"\
          ,\n        \"requested_elevator_id\",\n        \"system_abnormality\",\n\
          \        \"report_summary\",\n    ]\n    compact = {}\n    for key in\
          \ keep_keys:\n        if key in payload:\n            compact[key] = payload.get(key)\n\
          \    return compact\n\n\ndef main(body):\n    text = str(body or \"\").strip()\n\
          \    try:\n        payload = json.loads(text) if text else {}\n    except\
          \ Exception:\n        payload = {\"status\": \"unknown\", \"detail\": \"\
          latest status payload is not valid json\"}\n\n    payload = _as_dict(payload)\n\
          \    status = str(payload.get(\"status\", \"unknown\"))\n    risk = _as_dict(payload.get(\"\
          risk\"))\n    primary_issue = _as_dict(payload.get(\"primary_issue\"))\n\
          \    system_abnormality = _as_dict(payload.get(\"system_abnormality\"))\n\
          \    preferred = _as_dict(payload.get(\"preferred_issue\"))\n    top_candidate = _as_dict(payload.get(\"\
          top_candidate\"))\n    waveforms = _as_dict(payload.get(\"waveform_payload\"\
          ))\n    report_markdown_draft = str(payload.get(\"report_markdown_draft\"\
          , \"\")).strip()\n    requested_elevator_id = str(payload.get(\"requested_elevator_id\"\
          , \"\")).strip()\n    latest_file = str(payload.get(\"latest_file_name\"\
          ) or payload.get(\"latest_file\") or \"\")\n    detected_at = _format_detected_at(payload.get(\"\
          generated_at_ms\"))\n    fault_type = _fault_text(primary_issue, preferred,\
          \ top_candidate)\n    display_conclusion = _display_conclusion(status, fault_type)\n\
          \    fault_score = primary_issue.get(\"score\", preferred.get(\"score\"\
          , top_candidate.get(\"score\", 0)))\n    abnormal_score = system_abnormality.get(\"score\",\
          \ 0)\n    baseline_mode = str(system_abnormality.get(\"baseline_mode\", \"unknown\"\
          ))\n    risk_now = str(risk.get(\"risk_level_now\", \"unknown\"))\n \
          \   risk_24h = str(risk.get(\"risk_level_24h\", \"unknown\"))\n    compact_payload\
          \ = _compact_latest_payload(payload)\n\
          \    report_markdown_for_llm = _trim_report_for_llm(report_markdown_draft)\n\
          \    summary = (\n        f\"检测日期={detected_at}; 状态={status}; 主结论={display_conclusion};\
          \ 分数={fault_score}; 异常分={abnormal_score}; 基线模式={baseline_mode}; 归因口径=按梯健康基线偏移+经验模板弱先验; 当前风险={risk_now}; 24h风险={risk_24h};\
          \ 目标电梯={requested_elevator_id or 'default'}; 最新文件={latest_file}; 后端报告={'已生成'\
          \ if report_markdown_draft else '未生成'}\"\n    )\n    return {\n        \"\
          status_json\": json.dumps(compact_payload, ensure_ascii=False),\n      \
          \  \"status_summary\": summary,\n        \"detected_at\": detected_at,\n\
          \        \"report_markdown_draft\": report_markdown_draft,\n        \"report_markdown_for_llm\"\
          : report_markdown_for_llm,\n        \"report_tables_html\": _tables_to_html(report_markdown_draft),\n\
          \        \"report_tables_text\": _tables_to_text(report_markdown_draft),\n\
          \        \"waveform_markdown\": str(waveforms.get(\"markdown_echarts\")\
          \ or waveforms.get(\"markdown\", \"\")).strip(),\n        \"waveform_insights\"\
          : str(waveforms.get(\"insight_markdown\", \"\")).strip(),\n        \"display_conclusion\"\
          : display_conclusion,\n        \"spectrum_chart\": _option_json(waveforms,\
          \ \"low_frequency_spectrum\"),\n        \"acc_chart\": _option_json(waveforms,\
          \ \"acceleration\"),\n        \"gyro_chart\": _option_json(waveforms, \"\
          gyroscope\"),\n        \"mag_chart\": _option_json(waveforms, \"acceleration_magnitude\"\
          ),\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          acc_chart:
            children: null
            type: string
          detected_at:
            children: null
            type: string
          display_conclusion:
            children: null
            type: string
          gyro_chart:
            children: null
            type: string
          mag_chart:
            children: null
            type: string
          report_markdown_draft:
            children: null
            type: string
          report_markdown_for_llm:
            children: null
            type: string
          report_tables_html:
            children: null
            type: string
          report_tables_text:
            children: null
            type: string
          spectrum_chart:
            children: null
            type: string
          status_json:
            children: null
            type: string
          status_summary:
            children: null
            type: string
          waveform_insights:
            children: null
            type: string
          waveform_markdown:
            children: null
            type: string
        selected: false
        title: 解析最新状态
        type: code
        variables:
        - value_selector:
          - status_http
          - body
          value_type: string
          variable: body
      height: 52
      id: status_parse
      position:
        x: 1038
        y: 24
      positionAbsolute:
        x: 1038
        y: 24
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - status_parse
          - status_json
        desc: ''
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: qwen3-30b-a3b-instruct-2507
          provider: langgenius/gpustack/gpustack
        prompt_template:
        - id: 6bc4515a-764e-42d2-bf70-6c1a26e71179
          role: system
          text: "你是电梯在线状态回复助手。你只能依据下面这份“最近一次定时批诊断结果”回答，不能编造不存在的故障、风险或历史。\n\n站点名：{{#env.site_name#}}\n\
            用户问题：{{#sys.query#}}\n最新状态摘要：{{#status_parse.status_summary#}}\n最新状态 JSON：\n\
            {{#status_parse.status_json#}}\n\n后端报告草稿（如有）：\n{{#status_parse.report_markdown_for_llm#}}\n\
            \n输出要求：\n1. 先直接回答用户问题。\n2. 然后固定输出五行：\n   检测日期：\n   当前状态：\n   主结论：\n  \
            \ 当前风险：\n   建议动作：\n3. “检测日期”优先使用最近一次批诊断的 generated_at_ms，对用户明确展示具体日期时间。\n\
            4. 如果附带波形图，可在正文里简要引用波形观察，但不要编造图上没有的信息。\n5. 如果后端报告草稿存在，优先沿用其中的一句话结论、解释和建议，不要重新发明一套相互矛盾的说法。\n\
            6. 如果状态是 normal，明确写“当前未见明确异常证据”。\n7. 如果状态是 watch_only，明确写“检测到异常变化，但建议继续观察或尽快复测”。\n\
            8. 如果状态是 watch_only 且主结论为 unknown，必须直接写“已检测到异常，但类型待确认”，不要写成“没有异常”或“无法判断”。\n\
            9. 如果状态是 candidate_faults，明确写“存在高置信异常，建议安排现场复核”。\n10. 如果存在 auxiliary_results，可在正文里补一句“同时观察到辅助异常线索”，但不要把辅助异常写成主结论。\n\
            11. 如果主结论是 rope_looseness 或 rubber_hardening，只能写成“当前更像/偏向……”，不要写成已经确诊。\n12. 如果需要解释算法，只能说“系统先与这台电梯的健康基线比较，再结合少量经验模板弱先验做保守归因”。不要把经验模板说成训练模型。\n13. 只有当输入里明确出现 robust_baseline 且后端草稿真的给出了“基线中位数 / 偏离 z”时，才可以引用这些统计量。\n14. 如果输入里是 self_normalized_fallback 或 mapping_mismatch_fallback，只能说“异常分来自兜底评分/自归一化评分”，不要编造基线中位数、z 值，也不要把缺失值说成 0。\n15. 用自然中文，不要输出 JSON，不要夸大结论。\n"
        selected: false
        title: 在线状态回答
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: status_llm
      position:
        x: 1403
        y: -50.84049105364211
      positionAbsolute:
        x: 1403
        y: -50.84049105364211
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: |
          # {{#env.site_name#}} 在线状态

          {{#status_llm.text#}}

          ## 后端报告草稿

          {{#status_parse.report_markdown_draft#}}

          {{#status_parse.report_tables_html#}}

          ## 关键对比数据

          ```text
          {{#status_parse.report_tables_text#}}
          ```

          {{#status_parse.waveform_insights#}}

          {{#status_parse.waveform_markdown#}}
        desc: ''
        selected: false
        title: 在线状态输出
        type: answer
        variables: []
      height: 266
      id: status_answer
      position:
        x: 1745
        y: -50.84049105364211
      positionAbsolute:
        x: 1745
        y: -50.84049105364211
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        is_array_file: true
        selected: false
        title: 文档提取器
        type: document-extractor
        variable_selector:
        - sys
        - files
      height: 104
      id: doc_extract
      position:
        x: 677
        y: 250
      positionAbsolute:
        x: 677
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import csv\nimport io\nimport json\n\n\ndef _pick_text(value):\n  \
          \  if isinstance(value, list):\n        for item in value:\n           \
          \ text = str(item).strip()\n            if text:\n                return\
          \ text\n        return \"\"\n    return str(value or \"\").strip()\n\n\n\
          def _from_markdown_table(text):\n    lines = [line.rstrip() for line in\
          \ text.splitlines() if line.strip()]\n    if len(lines) < 2:\n        return\
          \ \"\"\n    if \"|\" not in lines[0] or \"---\" not in lines[1]:\n     \
          \   return \"\"\n\n    def split_row(line):\n        return [part.strip()\
          \ for part in line.strip().strip(\"|\").split(\"|\")]\n\n    headers = split_row(lines[0])\n\
          \    if not headers:\n        return \"\"\n\n    rows = []\n    for line\
          \ in lines[2:]:\n        if \"|\" not in line:\n            continue\n \
          \       parts = split_row(line)\n        if len(parts) < len(headers):\n\
          \            parts.extend([\"\"] * (len(headers) - len(parts)))\n      \
          \  rows.append(parts[: len(headers)])\n\n    if not rows:\n        return\
          \ \"\"\n\n    buffer = io.StringIO()\n    writer = csv.writer(buffer)\n\
          \    writer.writerow(headers)\n    writer.writerows(rows)\n    return buffer.getvalue()\n\
          \n\ndef _normalize_csv_like(text):\n    sample = text[:2048]\n    try:\n\
          \        dialect = csv.Sniffer().sniff(sample, delimiters=\",;\\t\")\n \
          \   except Exception:\n        dialect = csv.excel\n\n    rows = []\n  \
          \  reader = csv.reader(io.StringIO(text), dialect)\n    for row in reader:\n\
          \        if any(str(cell).strip() for cell in row):\n            rows.append([str(cell).strip()\
          \ for cell in row])\n\n    if len(rows) < 2:\n        return text\n\n  \
          \  width = max(len(row) for row in rows)\n    buffer = io.StringIO()\n \
          \   writer = csv.writer(buffer)\n    for row in rows:\n        writer.writerow(row\
          \ + [\"\"] * (width - len(row)))\n    return buffer.getvalue()\n\n\ndef\
          \ _sample_rows(rows, limit):\n    if len(rows) <= limit:\n        return\
          \ rows\n    if limit <= 1:\n        return rows[:1]\n    idxs = []\n   \
          \ for i in range(limit):\n        idx = round(i * (len(rows) - 1) / max(1,\
          \ limit - 1))\n        if not idxs or idx != idxs[-1]:\n            idxs.append(idx)\n\
          \    return [rows[i] for i in idxs]\n\n\ndef _compact_csv_text(text, max_rows=2000,\
          \ max_chars=280000):\n    raw = str(text or \"\").strip()\n    if not raw:\n\
          \        return \"\"\n    parsed = list(csv.reader(io.StringIO(raw)))\n\
          \    if len(parsed) <= 1:\n        return raw[:max_chars]\n\n    header\
          \ = [str(cell).strip() for cell in parsed[0]]\n    data_rows = [[str(cell).strip()\
          \ for cell in row] for row in parsed[1:] if any(str(cell).strip() for cell\
          \ in row)]\n    if not data_rows:\n        buffer = io.StringIO()\n    \
          \    writer = csv.writer(buffer)\n        writer.writerow(header)\n    \
          \    return buffer.getvalue()[:max_chars]\n\n    current_limit = max_rows\n\
          \    while True:\n        sampled = _sample_rows(data_rows, current_limit)\n\
          \        width = max([len(header)] + [len(row) for row in sampled])\n  \
          \      buffer = io.StringIO()\n        writer = csv.writer(buffer)\n   \
          \     writer.writerow(header + [\"\"] * (width - len(header)))\n       \
          \ for row in sampled:\n            writer.writerow(row + [\"\"] * (width\
          \ - len(row)))\n        compact = buffer.getvalue()\n        if len(compact)\
          \ <= max_chars or current_limit <= 64:\n            return compact[:max_chars]\n\
          \        current_limit = max(64, int(current_limit * 0.7))\n\n\ndef main(extracted_text,\
          \ site_name):\n    raw_text = _pick_text(extracted_text)\n    normalized\
          \ = _from_markdown_table(raw_text) or _normalize_csv_like(raw_text)\n  \
          \  csv_text = _compact_csv_text(normalized)\n    diagnosis_body = json.dumps(\n\
          \        {\"csv_text\": csv_text, \"rows\": []},\n        ensure_ascii=False,\n\
          \    )\n    maintenance_body = json.dumps(\n        {\"site_name\": site_name\
          \ or \"unknown-site\"},\n        ensure_ascii=False,\n    )\n    return\
          \ {\n        \"csv_text\": csv_text,\n        \"diagnosis_body\": diagnosis_body,\n\
          \        \"maintenance_body\": maintenance_body,\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          csv_text:
            children: null
            type: string
          diagnosis_body:
            children: null
            type: string
          maintenance_body:
            children: null
            type: string
        selected: false
        title: 准备CSV与请求体
        type: code
        variables:
        - value_selector:
          - doc_extract
          - text
          value_type: array[string]
          variable: extracted_text
        - value_selector:
          - env
          - site_name
          value_type: string
          variable: site_name
      height: 52
      id: prepare_csv
      position:
        x: 1038
        y: 250
      positionAbsolute:
        x: 1038
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - type: text
            value: '{{#prepare_csv.diagnosis_body#}}'
          type: raw-text
        desc: ''
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 规则诊断
        type: http-request
        url: '{{#env.ip#}}/api/v1/diagnostics/rule-engine'
        variables: []
      height: 141
      id: diagnosis_http
      position:
        x: 1403
        y: 98
      positionAbsolute:
        x: 1403
        y: 98
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: '{{#prepare_csv.maintenance_body#}}'
          type: raw-text
        desc: ''
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 维保包
        type: http-request
        url: '{{#env.ip#}}/api/v1/workflows/maintenance-package'
        variables: []
      height: 141
      id: maintenance_http
      position:
        x: 1403
        y: 402
      positionAbsolute:
        x: 1403
        y: 402
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import csv\nimport io\nimport json\nimport math\n\n\ndef _safe_float(value,\
          \ default=0.0):\n    try:\n        return float(value)\n    except Exception:\n\
          \        return default\n\n\ndef _safe_int(value):\n    try:\n        return\
          \ int(float(value))\n    except Exception:\n        return None\n\n\ndef\
          \ _rows_from_csv(text):\n    raw = str(text or \"\").strip()\n    if not\
          \ raw:\n        return []\n    return [dict(row) for row in csv.DictReader(io.StringIO(raw))]\n\
          \n\ndef _pick_effective_rows(rows, min_real_rows=8):\n    flagged = []\n\
          \    has_flag = False\n    for row in rows:\n        flag = _safe_int(row.get(\"\
          is_new_frame\"))\n        if flag is None:\n            continue\n     \
          \   has_flag = True\n        if flag == 1:\n            flagged.append(row)\n\
          \    if has_flag and len(flagged) >= min_real_rows:\n        return flagged,\
          \ True\n    return rows, False\n\n\ndef _pick(row, *names):\n    for name\
          \ in names:\n        if name in row and str(row.get(name)).strip() != \"\
          \":\n            return row.get(name)\n    return \"\"\n\n\ndef _extract_series(rows,\
          \ *names):\n    return [_safe_float(_pick(row, *names), 0.0) for row in\
          \ rows]\n\n\ndef _extract_ts(rows):\n    xs = []\n    for idx, row in enumerate(rows):\n\
          \        value = _safe_int(_pick(row, \"ts_ms\", \"data_ts_ms\"))\n    \
          \    xs.append(idx if value is None else value)\n    return xs\n\n\ndef\
          \ _downsample(xs, series_list, max_points=180):\n    if len(xs) <= max_points:\n\
          \        return xs, series_list\n    idxs = [round(i * (len(xs) - 1) / max(1,\
          \ max_points - 1)) for i in range(max_points)]\n    return [xs[i] for i\
          \ in idxs], [[series[i] for i in idxs] for series in series_list]\n\n\n\
          def _option(title, xs, series_defs):\n    x0 = xs[0] if xs else 0\n    x_data\
          \ = [round((value - x0) / 1000.0, 3) for value in xs]\n    option = {\n\
          \        \"title\": {\"text\": title, \"left\": \"center\"},\n        \"\
          tooltip\": {\"trigger\": \"axis\"},\n        \"legend\": {\"top\": 28, \"\
          data\": [item[\"name\"] for item in series_defs]},\n        \"grid\": {\"\
          left\": 48, \"right\": 24, \"top\": 72, \"bottom\": 36},\n        \"xAxis\"\
          : {\n            \"type\": \"category\",\n            \"name\": \"时间 (秒)\"\
          ,\n            \"boundaryGap\": False,\n            \"data\": x_data,\n\
          \        },\n        \"yAxis\": {\n            \"type\": \"value\",\n  \
          \          \"scale\": True,\n        },\n        \"series\": [],\n    }\n\
          \    for item in series_defs:\n        option[\"series\"].append(\n    \
          \        {\n                \"name\": item[\"name\"],\n                \"\
          type\": \"line\",\n                \"showSymbol\": False,\n            \
          \    \"smooth\": False,\n                \"lineStyle\": {\"width\": 2, \"\
          color\": item[\"color\"]},\n                \"itemStyle\": {\"color\": item[\"\
          color\"]},\n                \"data\": [round(float(v), 6) for v in item[\"\
          data\"]],\n            }\n        )\n    return json.dumps(option, ensure_ascii=False)\n\
          \n\ndef main(csv_text):\n    rows = _rows_from_csv(csv_text)\n    rows,\
          \ used_new_only = _pick_effective_rows(rows)\n    ts = _extract_ts(rows)\n\
          \    ax = _extract_series(rows, \"Ax\", \"AX\")\n    ay = _extract_series(rows,\
          \ \"Ay\", \"AY\")\n    az = _extract_series(rows, \"Az\", \"AZ\")\n    gx\
          \ = _extract_series(rows, \"Gx\", \"GX\")\n    gy = _extract_series(rows,\
          \ \"Gy\", \"GY\")\n    gz = _extract_series(rows, \"Gz\", \"GZ\")\n    amag\
          \ = [math.sqrt(ax[i] * ax[i] + ay[i] * ay[i] + az[i] * az[i]) for i in range(len(ax))]\n\
          \n    ts_acc, [ax, ay, az] = _downsample(ts, [ax, ay, az])\n    ts_gyr,\
          \ [gx, gy, gz] = _downsample(ts, [gx, gy, gz])\n    ts_mag, [amag] = _downsample(ts,\
          \ [amag])\n\n    acc_chart = _option(\n        \"加速度三轴波形\",\n        ts_acc,\n\
          \        [\n            {\"name\": \"Ax\", \"color\": \"#1F77B4\", \"data\"\
          : ax},\n            {\"name\": \"Ay\", \"color\": \"#FF7F0E\", \"data\"\
          : ay},\n            {\"name\": \"Az\", \"color\": \"#2CA02C\", \"data\"\
          : az},\n        ],\n    )\n    gyro_chart = _option(\n        \"角速度三轴波形\"\
          ,\n        ts_gyr,\n        [\n            {\"name\": \"Gx\", \"color\"\
          : \"#9467BD\", \"data\": gx},\n            {\"name\": \"Gy\", \"color\"\
          : \"#D62728\", \"data\": gy},\n            {\"name\": \"Gz\", \"color\"\
          : \"#8C564B\", \"data\": gz},\n        ],\n    )\n    mag_chart = _option(\n\
          \        \"合成加速度幅值\",\n        ts_mag,\n        [\n            {\"name\"\
          : \"A_mag\", \"color\": \"#17BECF\", \"data\": amag},\n        ],\n    )\n\
          \    summary = (\n        f\"本次用于绘图的有效数据点共 {len(rows)} 个，\"\n        f\"\
          {'已优先使用 is_new_frame=1 的真实采样点。' if used_new_only else '未检测到足够多的真实采样标记，直接使用原始记录绘图。'}\"\
          \n    )\n    return {\n        \"acc_chart\": acc_chart,\n        \"gyro_chart\"\
          : gyro_chart,\n        \"mag_chart\": mag_chart,\n        \"waveform_summary\"\
          : summary,\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          acc_chart:
            children: null
            type: string
          gyro_chart:
            children: null
            type: string
          mag_chart:
            children: null
            type: string
          waveform_summary:
            children: null
            type: string
        selected: false
        title: Dify波形绘图
        type: code
        variables:
        - value_selector:
          - prepare_csv
          - csv_text
          value_type: string
          variable: csv_text
      height: 52
      id: waveform_code
      position:
        x: 1403
        y: 250
      positionAbsolute:
        x: 1403
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\n\ndef _as_dict(value):\n    return value if isinstance(value,\
          \ dict) else {}\n\n\ndef _fault_text(primary, candidate):\n    fault_type\
          \ = str(primary.get(\"fault_type\") or candidate.get(\"fault_type\") or\
          \ \"none\")\n    if fault_type == \"rope_tension_abnormal\":\n        return\
          \ \"钢丝绳状态异常\"\n    if fault_type == \"rope_looseness\":\n        return\
          \ \"钢丝绳松动或张力不均\"\n    if fault_type == \"rubber_hardening\":\n        return\
          \ \"橡胶圈硬化\"\n    if fault_type == \"unknown\":\n        return \"异常类型待确认\"\
          \n    return fault_type\n\n\ndef main(body):\n    text = str(body or \"\"\
          ).strip()\n    try:\n        payload = json.loads(text) if text else {}\n\
          \    except Exception:\n        payload = {}\n    payload = payload if isinstance(payload,\
          \ dict) else {}\n    screening = _as_dict(payload.get(\"screening\"))\n\
          \    status = str(screening.get(\"status\", \"unknown\"))\n    primary_issue\
          \ = _as_dict(payload.get(\"primary_issue\"))\n    system_abnormality = _as_dict(payload.get(\"\
          system_abnormality\"))\n    top_candidate = _as_dict(payload.get(\"top_candidate\"\
          ))\n    baseline_mode = str(system_abnormality.get(\"baseline_mode\", \"unknown\"\
          ))\n    if primary_issue.get(\"fault_type\") or top_candidate.get(\"fault_type\"\
          ):\n        summary = (\n            f\"筛查状态：{status}；主结论：{_fault_text(primary_issue,\
          \ top_candidate)}；\"\n            f\"分数：{primary_issue.get('score', top_candidate.get('score',\
          \ 0))}；异常分：{system_abnormality.get('score', 0)}；基线模式：{baseline_mode}；归因口径：按梯健康基线偏移 + 经验模板弱先验。\"\n\
          \        )\n    else:\n        summary = f\"筛查状态：{status}；异常分：{system_abnormality.get('score',\
          \ 0)}；基线模式：{baseline_mode}；归因口径：按梯健康基线偏移 + 经验模板弱先验。\"\n    return {\n        \"diagnosis_json\": json.dumps(payload,\
          \ ensure_ascii=False),\n        \"diagnosis_summary\": summary,\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          diagnosis_json:
            children: null
            type: string
          diagnosis_summary:
            children: null
            type: string
        selected: false
        title: 解析诊断结果
        type: code
        variables:
        - value_selector:
          - diagnosis_http
          - body
          value_type: string
          variable: body
      height: 52
      id: diagnosis_parse
      position:
        x: 1745
        y: 98
      positionAbsolute:
        x: 1745
        y: 98
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\n\ndef main(body):\n    text = str(body or \"\").strip()\n\
          \    try:\n        payload = json.loads(text) if text else {}\n    except\
          \ Exception:\n        payload = {}\n    return {\n        \"maintenance_json\"\
          : json.dumps(payload, ensure_ascii=False),\n        \"maintenance_summary\"\
          : str(payload.get(\"summary\", \"\")),\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          maintenance_json:
            children: null
            type: string
          maintenance_summary:
            children: null
            type: string
        selected: false
        title: 解析维保包
        type: code
        variables:
        - value_selector:
          - maintenance_http
          - body
          value_type: string
          variable: body
      height: 52
      id: maintenance_parse
      position:
        x: 1745
        y: 402
      positionAbsolute:
        x: 1745
        y: 402
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\n\ndef _loads(text):\n    raw = str(text or \"\").strip()\n\
          \    if not raw:\n        return {}\n    try:\n        return json.loads(raw)\n\
          \    except Exception:\n        return {}\n\n\ndef main(site_name, diagnosis_json,\
          \ maintenance_json, csv_text):\n    payload = {\n        \"site_name\":\
          \ site_name or \"unknown-site\",\n        \"diagnosis_result\": _loads(diagnosis_json),\n\
          \        \"maintenance_package\": _loads(maintenance_json),\n        \"\
          csv_text\": str(csv_text or \"\"),\n        \"include_waveforms\": True,\n\
          \        \"language\": \"zh-CN\",\n        \"report_style\": \"standard\"\
          ,\n    }\n    return {\n        \"report_body\": json.dumps(payload, ensure_ascii=False),\n\
          \    }\n"
        code_language: python3
        desc: ''
        outputs:
          report_body:
            children: null
            type: string
        selected: false
        title: 准备综合报告请求体
        type: code
        variables:
        - value_selector:
          - env
          - site_name
          value_type: string
          variable: site_name
        - value_selector:
          - diagnosis_parse
          - diagnosis_json
          value_type: string
          variable: diagnosis_json
        - value_selector:
          - maintenance_parse
          - maintenance_json
          value_type: string
          variable: maintenance_json
        - value_selector:
          - prepare_csv
          - csv_text
          value_type: string
          variable: csv_text
      height: 52
      id: report_body
      position:
        x: 2111
        y: 250
      positionAbsolute:
        x: 2111
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: '{{#report_body.report_body#}}'
          type: raw-text
        desc: ''
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 综合报告上下文
        type: http-request
        url: '{{#env.ip#}}/api/v1/workflows/diagnosis-report'
        variables: []
      height: 141
      id: report_http
      position:
        x: 2470
        y: 250
      positionAbsolute:
        x: 2470
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\n\ndef _as_dict(value):\n    return value if isinstance(value,\
          \ dict) else {}\n\n\ndef _trim_report_for_llm(text, max_chars=12000):\n\
          \    raw = str(text or \"\").strip()\n    if not raw:\n        return \"\
          \"\n    for marker in (\"\\n## 波形图\", \"\\n## 怎么读这些图\"):\n        if marker\
          \ in raw:\n            raw = raw.split(marker, 1)[0].strip()\n    if len(raw)\
          \ <= max_chars:\n        return raw\n    return raw[:max_chars].rstrip()\
          \ + \"\\n\\n[后续内容已截断]\"\n\n\ndef main(body):\n    text = str(body or \"\"\
          ).strip()\n    try:\n        payload = json.loads(text) if text else {}\n\
          \    except Exception:\n        payload = {}\n    payload = payload if isinstance(payload,\
          \ dict) else {}\n    dify_prompt = str(payload.get(\"dify_prompt_template\"\
          , \"\")).strip()\n    dify_inputs = payload.get(\"dify_report_inputs\",\
          \ {})\n    waveforms = _as_dict(payload.get(\"waveform_payload\"))\n   \
          \ report_markdown = str(payload.get(\"report_markdown_draft\", \"\")).strip()\n\
          \    return {\n        \"report_title\": str(payload.get(\"report_title\"\
          , \"电梯故障诊断报告\")),\n        \"report_markdown\": report_markdown,\n     \
          \   \"report_markdown_for_llm\": _trim_report_for_llm(report_markdown),\n\
          \        \"dify_prompt_template\": dify_prompt,\n        \"dify_inputs_json\"\
          : json.dumps(dify_inputs, ensure_ascii=False, indent=2) if isinstance(dify_inputs,\
          \ dict) else \"{}\",\n        \"waveform_insights\": str(waveforms.get(\"\
          insight_markdown\", \"\")).strip(),\n        \"waveform_markdown\": str(waveforms.get(\"\
          markdown_echarts\") or waveforms.get(\"markdown\", \"\")).strip(),\n   \
          \ }\n"
        code_language: python3
        desc: ''
        outputs:
          dify_inputs_json:
            children: null
            type: string
          dify_prompt_template:
            children: null
            type: string
          report_markdown:
            children: null
            type: string
          report_markdown_for_llm:
            children: null
            type: string
          report_title:
            children: null
            type: string
          waveform_insights:
            children: null
            type: string
          waveform_markdown:
            children: null
            type: string
        selected: false
        title: 解析综合报告上下文
        type: code
        variables:
        - value_selector:
          - report_http
          - body
          value_type: string
          variable: body
      height: 52
      id: report_parse
      position:
        x: 2817
        y: 250
      positionAbsolute:
        x: 2817
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - report_parse
          - dify_inputs_json
        desc: ''
        model:
          completion_params:
            temperature: 0.4
          mode: chat
          name: qwen3-30b-a3b-instruct-2507
          provider: langgenius/gpustack/gpustack
        prompt_template:
        - id: 86f1aaf2-7f56-49d7-8881-8f78ff50f0df
          role: system
          text: "{{#report_parse.dify_prompt_template#}}\n\n下面是后端已经整理好的报告输入，请在此基础上做最终输出润色：\n\
            {{#report_parse.dify_inputs_json#}}\n\n下面是后端草稿，可作为参考，但不要机械照抄：\n{{#report_parse.report_markdown_for_llm#}}\n\
            \n下面是图表说明卡片：\n{{#report_parse.waveform_insights#}}\n\n输出要求：\n1. 面向普通人，优先说“看到了什么、代表什么、要不要处理”。\n\
            2. 结构固定为：\n   ## 1. 一句话结论\n   ## 2. 给非专业人员的解释\n   ## 3. 建议怎么做\n   ## 4.\
            \ 本次判断依据\n   ## 5. 给维保人员的补充参考\n3. 不要重复一级标题，答案节点会单独拼接标题。\n4. 不要输出 JSON，不要生成波形图代码块，答案节点会自动拼接。\n\
            5. 如果主结论是 rope_looseness 或 rubber_hardening，只能写“当前更像/偏向……”，不要写成已经确诊。\n6. 如果需要解释算法，只能说“系统先与这台电梯的健康基线比较，再结合少量经验模板弱先验做保守归因”；不要把经验模板说成训练模型。\n7. 只有当输入里明确是 robust_baseline 且后端草稿真的给出了“基线中位数 / 偏离 z”时，才可以引用这些统计量。\n8. 如果输入里是 self_normalized_fallback 或 mapping_mismatch_fallback，只能写“异常分来自兜底评分/自归一化评分”，不要自行补写基线中位数、z 值，也不要把缺失值说成 0。\n9. 尽量使用自然中文，不要过多直接暴露英文技术字段名。\n"
        selected: true
        title: LLM综合润色
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: report_llm
      position:
        x: 3156
        y: 250
      positionAbsolute:
        x: 3156
        y: 250
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: |
          # {{#report_parse.report_title#}}

          {{#report_llm.text#}}

          {{#report_parse.waveform_insights#}}

          {{#report_parse.waveform_markdown#}}
        desc: ''
        selected: false
        title: 综合报告输出
        type: answer
        variables: []
      height: 176
      id: report_answer
      position:
        x: 3506
        y: 250
      positionAbsolute:
        x: 3506
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -1087.368196166694
      y: 175.40238400814155
      zoom: 0.45628274427172716
  rag_pipeline_variables: []
